@font-face {
    font-family: Abel;
    src: url('.../Abel\,Akaya_Telivigala\,Anton\,Lexend_Deca/Abel/Abel-Regular.ttf');
}
@font-face {
    font-family: Anton;
    src: url('.../Abel\,Akaya_Telivigala\,Anton\,Lexend_Deca/Anton/Abel-Regular.ttf');
}
@font-face {
    font-family: Lexend;
    src: url('.../Abel\,Akaya_Telivigala\,Anton\,Lexend_Deca/Lexend_Deca/Lexend_Deca-Regular.ttf');
}

